Repository JaviChip/R-Group, pull requests merged in 2024-03, with the labels that each got.

#46 Added the 'Group to the banner
  src/components/Navigation.jsx
  src/components/home/Banner.jsx
Labels: Home

#59 Switch Favorite Implementatio
  src/app/page.js
  src/components/listings/FavoritesFilter.jsx
  src/components/listings/ListingAttributes/Favorite.jsx
  src/components/listings/ListingAttributes/FavoriteButton.jsx
Labels: ReadyForReview

#61 Codylin/google auth
  firebase-config.js
  src/app/logIn/page.js
  src/data/nav.js
Labels: good first issue, Profile

#62 Allow profiles to either create an account or sign in
  src/app/logIn/page.js
  src/app/profile/page.js
  src/app/signUp/page.js
  src/data/nav.js
Labels: enhancement, Profile

#66 Create Housing Component with all listing attributes
  src/app/listings/page.js
  src/components/listings/Listing.jsx
  src/components/listings/ListingAttributes/Address.jsx
  src/components/listings/ListingAttributes/Contact.jsx
  src/components/listings/ListingAttributes/FavoriteButton.jsx
  src/components/listings/ListingAttributes/HousingType.jsx
  src/components/listings/ListingAttributes/Rent.jsx
Labels: Listings

#67 Add Components to Listings Page
  src/app/listings/page.js
  src/app/page.js
  src/components/listings/Listing.jsx
  src/components/listings/ListingAttributes/Maps.jsx
  src/components/listings/Pages.jsx
  src/public/listings/Maps.svg
Labels: Listings, ListingAttributes
