Repository JaviChip/R-Group, pull requests merged in 2024-02, with the labels that each got.

#39 Implement Footer and make minor styling changes
  src/app/layout.js
  src/app/page.js
  src/components/Footer.jsx
  src/components/Navigation.jsx
  src/components/home/Mission.jsx
  src/components/home/Notes.jsx
  src/public/home/R-Logo.png
Labels: ReadyForReview

#45 Create Profile Card
  src/components/profile/Name.jsx
Labels: Profile

#44 StarButton, Issue #32
  package-lock.json
  package.json
  src/app/page.js
  src/components/listings/Favorites.jsx
Labels: Listings, ListingAttributes

#41 Implement Listing Attributes
  src/components/listings/Listing.jsx
  src/components/listings/ListingAttributes/Address.jsx
  src/components/listings/ListingAttributes/BedsBathSqrFt.jsx
  src/components/listings/ListingAttributes/LeaseTerm.jsx
  src/components/listings/ListingAttributes/Miles.jsx
  src/components/listings/ListingAttributes/Rent.jsx
Labels: ReadyForReview
